#login-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vw;
}

#login-form > * {
    margin: 0.5vh;
}

#login-form-paper {
    display: flex;
    flex-direction: column;
    align-items: center;
}