#register-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vw;
}

#register-form > * {
    margin: 0.5vh;
}

#register-form-paper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
}